<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>buildio.appRefreshTask</string>
		<string>buildio.processingTask0</string>
		<string>buildio.processingTask1</string>
		<string>buildio.processingTask2</string>
		<string>buildio.processingTask3</string>
		<string>buildio.processingTask4</string>
		<string>buildio.processingTask5</string>
		<string>buildio.processingTask6</string>
		<string>buildio.processingTask7</string>
		<string>buildio.processingTask8</string>
		<string>buildio.processingTask9</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
